@model AlphaForums.Models.PostViewModels.NewPostModel
<h1> New Post | @Model.ForumName</h1>

<form asp-controller="Post" asp-action="AddPost" method="POST" id="addPostForm">
    <div class="form-control">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
    </div>

    <div class="form-control">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    
    <input asp-for="ForumId" type="hidden"/>
    
    <button type="submit" id="submitPostBtn" class="btn btn-submitPost">Submit Post</button>
</form>